body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: linear-gradient(to right, #ffecd2, #fcb69f);
}

header {
  background: #ff5722;
  color: white;
  text-align: center;
  padding: 20px;
}

.food-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.food-card {
  background: white;
  padding: 15px;
  border-radius: 15px;
  width: 200px;
  text-align: center;
  box-shadow: 0px 5px 10px gray;
}

.food-card img {
  width: 120px;
}

button {
  background: #28a745;
  color: white;
  padding: 12px 20px;
  border: none;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background: #218838;
}
